In [1]:
#coding utf8
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt


productivity = pd.read_csv('./data/GDP_per_quarter.csv') 
covid = pd.read_csv('./data/DataPerWeek.csv')
covid.fillna(0)
productivity.fillna(0)
pro = pd.read_csv('./data/GDP_per_quarter.csv')

In [2]:
covid = covid[['country', 'country_code', 'year_week', 'positivity_rate']]
covid

       country country_code year_week  positivity_rate
0      Austria           AT  2020-W15        14.895859
1      Austria           AT  2020-W16         1.169471
2      Austria           AT  2020-W17         1.339593
3      Austria           AT  2020-W18         1.173021
4      Austria           AT  2020-W19         0.626290
...        ...          ...       ...              ...
12650   Sweden           SE  2022-W05        55.327946
12651   Sweden           SE  2022-W06        43.571419
12652   Sweden           SE  2022-W07        32.798461
12653   Sweden           SE  2022-W08        31.815725
12654   Sweden           SE  2022-W09        27.772237

[12655 rows x 4 columns]

In [3]:
df = covid.pivot_table('positivity_rate',  ['country', 'country_code'],'year_week')

In [4]:
df.reset_index(inplace=True)
df

year_week,country,country_code,2020-W01,2020-W02,2020-W03,2020-W04,2020-W05,2020-W06,2020-W07,2020-W08,...,2021-W52,2022-W01,2022-W02,2022-W03,2022-W04,2022-W05,2022-W06,2022-W07,2022-W08,2022-W09
0,Austria,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.780895,1.753268,1.690799,2.728432,3.623281,3.799813,4.213190,4.548167,4.276747,5.058696
1,Belgium,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.306390,24.731008,32.141819,41.810094,42.615988,36.902967,28.003749,20.519954,15.809578,16.422416
2,Bulgaria,BG,0.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,8.470641,12.983085,17.099844,23.010881,25.334136,23.274132,21.661599,18.346201,15.431079,12.404098
3,Croatia,HR,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,0.000000,...,14.078265,19.672282,21.193600,21.668256,21.792712,21.246814,17.937601,14.620736,NaN,10.480317
4,Cyprus,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.940721,5.204005,4.277551,3.777585,4.550486,5.157776,4.860284,4.383400,3.438164,3.412984
5,Czechia,CZ,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,0.000000,...,9.883590,8.795199,12.136886,18.226923,23.272347,23.962556,22.873135,20.271301,21.241721,21.454330
6,Denmark,DK,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,0.000000,...,4.332831,4.351693,5.567678,8.086321,11.135496,14.478300,17.716703,20.252046,18.512360,18.230296
7,Estonia,EE,NaN,NaN,NaN,NaN,NaN,0.000000,0.000,0.000000,...,16.126067,9.659186,24.735390,33.961019,47.824974,55.260766,57.929929,58.952825,57.294621,54.799256
8,Finland,FI,11.111111,0.0,0.0,0.0,4.0,0.000000,3.125,3.225806,...,23.545110,23.296729,25.135498,35.207011,27.341137,33.695974,36.483936,35.129771,36.206188,41.694680
9,France,FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.595931,21.602111,24.149170,30.500600,32.016775,30.919969,26.941172,23.465974,20.202819,19.421300
10,Germany,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.726704,22.540019,23.667779,31.515048,43.232451,49.247355,52.345953,55.327008,55.274576,57.767263
11,Greece,EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.080883,6.036944,2.742445,2.669521,3.338096,2.900085,3.515551,2.177686,2.259453,2.223533
12,Hungary,HU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,19.135301,22.770982,29.496466,35.231291,39.168989,39.053801,37.395284,29.039402,22.802537,19.537587
13,Iceland,IS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.748736,15.940605,14.018598,15.762839,17.702593,20.898589,31.022538,39.840327,27.827213,60.666451
14,Ireland,IE,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,0.000000,...,41.680476,48.439286,51.652544,31.481317,28.275010,30.599811,29.984480,18.924509,28.687247,29.056261
15,Italy,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11.486450,17.557594,16.181639,16.758586,14.614713,12.654702,11.504257,11.666426,10.926174,11.580750
16,Latvia,LV,NaN,NaN,NaN,NaN,NaN,NaN,0.000,0.000000,...,12.039370,15.139019,15.829031,21.932449,32.763852,38.961138,41.451595,44.470133,46.440262,46.683294
17,Liechtenstein,LI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.256849,35.767511,34.746835,38.143804,41.160594,44.700214,47.964602,44.629898,46.868687,60.060362
18,Lithuania,LT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,...,12.956991,16.846848,19.125231,23.307695,41.069835,43.525458,62.940873,47.897053,74.990643,45.264333
19,Luxembourg,LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.730181,30.177580,31.426834,38.748784,40.001533,35.144613,24.540634,23.960448,27.912939,28.305954
20,Malta,MT,NaN,NaN,NaN,NaN,NaN,0.000000,NaN,0.000000,...,15.844328,10.890478,7.819169,7.161859,6.620406,7.028251,5.106093,4.100418,3.790066,5.191150
21,Netherlands,NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,18.940487,25.259869,27.764110,34.741938,39.494518,43.655526,40.533996,36.542032,32.509869,54.143784
22,Norway,NO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,12.274001,15.884358,23.815713,32.087304,41.386623,52.189939,61.413858,65.988384,62.961191,70.353132
23,Poland,PL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.240130,14.633817,16.033358,25.387476,30.475715,42.452043,27.145308,22.024628,18.679871,16.482476
24,Portugal,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,9.070037,13.755305,17.767254,17.330891,19.114501,19.717600,16.518720,17.537274,12.179566,20.108511
25,Romania,RO,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,3.978201,8.745444,15.189708,23.843720,31.503367,31.337628,27.729565,21.955241,16.651821,12.165248
26,Slovakia,SK,NaN,NaN,NaN,NaN,0.0,0.000000,0.000,0.000000,...,8.884140,6.960065,6.335387,12.973916,21.593613,27.208237,30.979858,30.674374,29.159680,27.982057
27,Slovenia,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.852491,4.082433,6.438189,9.965307,12.610498,11.902372,8.117389,5.098507,12.119233,14.844028
28,Spain,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,29.149232,38.960580,45.532787,42.882483,39.285314,34.388935,27.608589,21.956819,20.513154,18.769063
29,Sweden,SE,NaN,NaN,NaN,0.0,0.0,1.282051,0.000,0.000000,...,17.351165,28.742246,30.088180,40.199003,49.482881,55.327946,43.571419,32.798461,31.815725,27.772237

In [5]:
df = df.reindex([26, 0, 1, 4, 10, 7, 28, 8, 9, 11, 14, 15, 18, 19, 16, 20, 21, 24, 27, 2, 3, 5, 6, 12, 13, 17, 22, 23, 25, 29])

In [6]:
cov = df.drop(labels = [2, 3, 5, 6, 12, 13, 17, 22, 23, 25, 29], axis = 0)
cov.reset_index(inplace=True)

In [7]:
prod = productivity.drop(labels = [10], axis = 0)
prod.reset_index(inplace=True)
prod

,index,Country,2021-Q4,2021-Q3,2021-Q2,2021-Q1,2020-Q4,2020-Q3,2020-Q2,2020-Q1,...,2002-Q2,2002-Q1,2001-Q4,2001-Q3,2001-Q2,2001-Q1,2000-Q4,2000-Q3,2000-Q2,2000-Q1
0,0,Slovakia,NaN,NaN,NaN,NaN,NaN,2.180855e+10,1.953442e+10,2.130274e+10,...,1.155564e+10,1.143982e+10,1.140442e+10,1.116490e+10,1.111826e+10,1.100148e+10,1.092408e+10,1.086316e+10,1.079898e+10,1.069456e+10
1,1,Austria,9.241863e+10,9.377876e+10,9.070556e+10,8.715757e+10,8.750030e+10,8.917405e+10,8.047778e+10,9.086087e+10,...,7.206637e+10,7.170129e+10,7.109538e+10,7.069148e+10,7.065559e+10,7.082965e+10,7.107146e+10,6.996467e+10,6.965500e+10,6.922582e+10
2,2,Belgium,1.136930e+11,1.131120e+11,1.108510e+11,1.089670e+11,1.076290e+11,1.077780e+11,9.633100e+10,1.090200e+11,...,8.460400e+10,8.388600e+10,8.317100e+10,8.325400e+10,8.341300e+10,8.339800e+10,8.335100e+10,8.254400e+10,8.216300e+10,8.157600e+10
3,3,Cyprus,5.722387e+09,5.680197e+09,5.583790e+09,5.495300e+09,5.402400e+09,5.372536e+09,4.926879e+09,5.605236e+09,...,3.779115e+09,3.718785e+09,3.682507e+09,3.693130e+09,3.623781e+09,3.554633e+09,3.506329e+09,3.469149e+09,3.574174e+09,3.451010e+09
4,4,Germany,8.034510e+11,8.062500e+11,7.930100e+11,7.761400e+11,7.894350e+11,7.836100e+11,7.186240e+11,7.984380e+11,...,6.487370e+11,6.458620e+11,6.492670e+11,6.500230e+11,6.510830e+11,6.514610e+11,6.386190e+11,6.405860e+11,6.407370e+11,6.355170e+11
5,5,Estonia,6.569154e+09,6.455124e+09,6.389617e+09,6.238700e+09,6.037598e+09,5.907816e+09,5.701474e+09,6.053237e+09,...,3.534022e+09,3.414611e+09,3.390976e+09,3.341946e+09,3.274328e+09,3.270264e+09,3.223752e+09,3.152816e+09,3.114389e+09,3.038302e+09
6,6,Spain,2.880450e+11,2.823650e+11,2.751290e+11,2.718860e+11,2.737190e+11,2.731110e+11,2.338310e+11,2.839550e+11,...,2.329420e+11,2.310590e+11,2.300800e+11,2.284990e+11,2.263890e+11,2.247280e+11,2.223670e+11,2.200990e+11,2.177490e+11,2.150560e+11
7,7,Finland,5.888300e+10,5.847100e+10,5.789500e+10,5.686400e+10,5.693500e+10,5.641300e+10,5.372100e+10,5.724900e+10,...,4.614800e+10,4.569600e+10,4.539900e+10,4.552700e+10,4.524100e+10,4.518700e+10,4.496700e+10,4.449400e+10,4.380800e+10,4.347300e+10
8,8,France,5.946380e+11,5.904640e+11,5.725200e+11,5.650850e+11,5.641260e+11,5.703250e+11,4.809560e+11,5.557900e+11,...,4.754990e+11,4.733170e+11,4.715550e+11,4.714330e+11,4.701620e+11,4.692930e+11,4.667350e+11,4.629730e+11,4.600970e+11,4.555980e+11
9,9,Greece,4.584950e+10,4.565604e+10,4.476764e+10,4.432106e+10,4.258747e+10,4.097389e+10,3.888867e+10,4.493059e+10,...,4.931402e+10,4.823439e+10,4.784349e+10,4.771708e+10,4.695564e+10,4.707973e+10,4.650407e+10,4.585344e+10,4.501243e+10,4.460121e+10
10,11,Ireland,9.870866e+10,1.043020e+11,1.030240e+11,9.847247e+10,8.973704e+10,9.370313e+10,8.532482e+10,8.799766e+10,...,3.945551e+10,3.916320e+10,3.808159e+10,3.750901e+10,3.781426e+10,3.718079e+10,3.625790e+10,3.616305e+10,3.557843e+10,3.441913e+10
11,12,Italy,4.286820e+11,4.262490e+11,4.158820e+11,4.050610e+11,4.036780e+11,4.100990e+11,3.534960e+11,4.045990e+11,...,4.236520e+11,4.219260e+11,4.214590e+11,4.222090e+11,4.234150e+11,4.250930e+11,4.222830e+11,4.162720e+11,4.137340e+11,4.103960e+11
12,13,Lithuania,1.154467e+10,1.141665e+10,1.133518e+10,1.120127e+10,1.101543e+10,1.084672e+10,1.044143e+10,1.109183e+10,...,5.727398e+09,5.553462e+09,5.547358e+09,5.418847e+09,5.312136e+09,5.293208e+09,5.168622e+09,5.090859e+09,5.015338e+09,4.964666e+09
13,14,Luxembourg,1.602294e+10,1.594123e+10,1.586494e+10,1.586010e+10,1.528643e+10,1.520464e+10,1.407860e+10,1.501331e+10,...,9.802697e+09,9.633340e+09,9.593224e+09,9.348614e+09,9.216029e+09,9.332280e+09,9.182490e+09,9.128852e+09,8.972510e+09,9.091510e+09
14,15,Latvia,7.006043e+09,7.011162e+09,6.977314e+09,6.837968e+09,6.793592e+09,6.686103e+09,6.333569e+09,6.814765e+09,...,4.043383e+09,3.899953e+09,3.899595e+09,3.775036e+09,3.853664e+09,3.687831e+09,3.605985e+09,3.651407e+09,3.539236e+09,3.546912e+09
15,16,Malta,3.347345e+09,3.271927e+09,3.166041e+09,3.135257e+09,3.043732e+09,2.902212e+09,2.728447e+09,3.150512e+09,...,1.530871e+09,1.530572e+09,1.496564e+09,1.503344e+09,1.475233e+09,1.495686e+09,1.540639e+09,1.506576e+09,1.528148e+09,1.462303e+09
16,17,Netherlands,1.958590e+11,1.940600e+11,1.900560e+11,1.831740e+11,1.846080e+11,1.846070e+11,1.717180e+11,1.874160e+11,...,1.488760e+11,1.483590e+11,1.492700e+11,1.487900e+11,1.485320e+11,1.477840e+11,1.476240e+11,1.457300e+11,1.445370e+11,1.429410e+11
17,18,Portugal,4.987104e+10,4.909440e+10,4.777122e+10,4.578896e+10,4.713387e+10,4.700456e+10,4.099022e+10,4.836586e+10,...,4.489984e+10,4.510914e+10,4.502908e+10,4.440780e+10,4.434290e+10,4.391802e+10,4.405578e+10,4.376283e+10,4.313102e+10,4.336017e+10
18,19,Slovenia,1.227312e+10,1.164805e+10,1.149317e+10,1.126830e+10,1.110580e+10,1.112624e+10,9.949593e+09,1.098621e+10,...,7.696591e+09,7.704116e+09,7.601874e+09,7.528373e+09,7.483864e+09,7.463842e+09,7.370898e+09,7.320786e+09,7.236308e+09,7.135116e+09

In [8]:
#prod.iloc[:, 8:]
prod = prod[prod.columns[range(10)]]
prod['mean'] = prod.iloc[:,2:10].mean(axis=1, skipna = True)
prod

C:\Users\ISAACE~1\AppData\Local\Temp/ipykernel_11340/1235829662.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  prod['mean'] = prod.iloc[:,2:10].mean(axis=1, skipna = True)

,index,Country,2021-Q4,2021-Q3,2021-Q2,2021-Q1,2020-Q4,2020-Q3,2020-Q2,2020-Q1,mean
0,0,Slovakia,NaN,NaN,NaN,NaN,NaN,2.180855e+10,1.953442e+10,2.130274e+10,2.088190e+10
1,1,Austria,9.241863e+10,9.377876e+10,9.070556e+10,8.715757e+10,8.750030e+10,8.917405e+10,8.047778e+10,9.086087e+10,8.900919e+10
2,2,Belgium,1.136930e+11,1.131120e+11,1.108510e+11,1.089670e+11,1.076290e+11,1.077780e+11,9.633100e+10,1.090200e+11,1.084226e+11
3,3,Cyprus,5.722387e+09,5.680197e+09,5.583790e+09,5.495300e+09,5.402400e+09,5.372536e+09,4.926879e+09,5.605236e+09,5.473590e+09
4,4,Germany,8.034510e+11,8.062500e+11,7.930100e+11,7.761400e+11,7.894350e+11,7.836100e+11,7.186240e+11,7.984380e+11,7.836198e+11
5,5,Estonia,6.569154e+09,6.455124e+09,6.389617e+09,6.238700e+09,6.037598e+09,5.907816e+09,5.701474e+09,6.053237e+09,6.169090e+09
6,6,Spain,2.880450e+11,2.823650e+11,2.751290e+11,2.718860e+11,2.737190e+11,2.731110e+11,2.338310e+11,2.839550e+11,2.727551e+11
7,7,Finland,5.888300e+10,5.847100e+10,5.789500e+10,5.686400e+10,5.693500e+10,5.641300e+10,5.372100e+10,5.724900e+10,5.705388e+10
8,8,France,5.946380e+11,5.904640e+11,5.725200e+11,5.650850e+11,5.641260e+11,5.703250e+11,4.809560e+11,5.557900e+11,5.617380e+11
9,9,Greece,4.584950e+10,4.565604e+10,4.476764e+10,4.432106e+10,4.258747e+10,4.097389e+10,3.888867e+10,4.493059e+10,4.349686e+10
10,11,Ireland,9.870866e+10,1.043020e+11,1.030240e+11,9.847247e+10,8.973704e+10,9.370313e+10,8.532482e+10,8.799766e+10,9.515872e+10
11,12,Italy,4.286820e+11,4.262490e+11,4.158820e+11,4.050610e+11,4.036780e+11,4.100990e+11,3.534960e+11,4.045990e+11,4.059682e+11
12,13,Lithuania,1.154467e+10,1.141665e+10,1.133518e+10,1.120127e+10,1.101543e+10,1.084672e+10,1.044143e+10,1.109183e+10,1.111165e+10
13,14,Luxembourg,1.602294e+10,1.594123e+10,1.586494e+10,1.586010e+10,1.528643e+10,1.520464e+10,1.407860e+10,1.501331e+10,1.540902e+10
14,15,Latvia,7.006043e+09,7.011162e+09,6.977314e+09,6.837968e+09,6.793592e+09,6.686103e+09,6.333569e+09,6.814765e+09,6.807564e+09
15,16,Malta,3.347345e+09,3.271927e+09,3.166041e+09,3.135257e+09,3.043732e+09,2.902212e+09,2.728447e+09,3.150512e+09,3.093184e+09
16,17,Netherlands,1.958590e+11,1.940600e+11,1.900560e+11,1.831740e+11,1.846080e+11,1.846070e+11,1.717180e+11,1.874160e+11,1.864372e+11
17,18,Portugal,4.987104e+10,4.909440e+10,4.777122e+10,4.578896e+10,4.713387e+10,4.700456e+10,4.099022e+10,4.836586e+10,4.700252e+10
18,19,Slovenia,1.227312e+10,1.164805e+10,1.149317e+10,1.126830e+10,1.110580e+10,1.112624e+10,9.949593e+09,1.098621e+10,1.123131e+10

In [9]:
cov['mean'] = cov.iloc[:,3:108].mean(axis=1, skipna= True)
cov

year_week,index,country,country_code,2020-W01,2020-W02,2020-W03,2020-W04,2020-W05,2020-W06,2020-W07,...,2022-W01,2022-W02,2022-W03,2022-W04,2022-W05,2022-W06,2022-W07,2022-W08,2022-W09,mean
0,26,Slovakia,SK,NaN,NaN,NaN,NaN,0.0,0.0,0.000,...,6.960065,6.335387,12.973916,21.593613,27.208237,30.979858,30.674374,29.159680,27.982057,12.451084
1,0,Austria,AT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.753268,1.690799,2.728432,3.623281,3.799813,4.213190,4.548167,4.276747,5.058696,3.305934
2,1,Belgium,BE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,24.731008,32.141819,41.810094,42.615988,36.902967,28.003749,20.519954,15.809578,16.422416,7.248322
3,4,Cyprus,CY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,5.204005,4.277551,3.777585,4.550486,5.157776,4.860284,4.383400,3.438164,3.412984,3.225821
4,10,Germany,DE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,22.540019,23.667779,31.515048,43.232451,49.247355,52.345953,55.327008,55.274576,57.767263,6.257092
5,7,Estonia,EE,NaN,NaN,NaN,NaN,NaN,0.0,0.000,...,9.659186,24.735390,33.961019,47.824974,55.260766,57.929929,58.952825,57.294621,54.799256,7.181934
6,28,Spain,ES,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,38.960580,45.532787,42.882483,39.285314,34.388935,27.608589,21.956819,20.513154,18.769063,7.234459
7,8,Finland,FI,11.111111,0.0,0.0,0.0,4.0,0.0,3.125,...,23.296729,25.135498,35.207011,27.341137,33.695974,36.483936,35.129771,36.206188,41.694680,2.778801
8,9,France,FR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,21.602111,24.149170,30.500600,32.016775,30.919969,26.941172,23.465974,20.202819,19.421300,6.044571
9,11,Greece,EL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,6.036944,2.742445,2.669521,3.338096,2.900085,3.515551,2.177686,2.259453,2.223533,2.423461
10,14,Ireland,IE,NaN,NaN,NaN,NaN,0.0,0.0,0.000,...,48.439286,51.652544,31.481317,28.275010,30.599811,29.984480,18.924509,28.687247,29.056261,5.837362
11,15,Italy,IT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,17.557594,16.181639,16.758586,14.614713,12.654702,11.504257,11.666426,10.926174,11.580750,6.083022
12,18,Lithuania,LT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.846848,19.125231,23.307695,41.069835,43.525458,62.940873,47.897053,74.990643,45.264333,5.939154
13,19,Luxembourg,LU,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,30.177580,31.426834,38.748784,40.001533,35.144613,24.540634,23.960448,27.912939,28.305954,3.634373
14,16,Latvia,LV,NaN,NaN,NaN,NaN,NaN,NaN,0.000,...,15.139019,15.829031,21.932449,32.763852,38.961138,41.451595,44.470133,46.440262,46.683294,3.438022
15,20,Malta,MT,NaN,NaN,NaN,NaN,NaN,0.0,NaN,...,10.890478,7.819169,7.161859,6.620406,7.028251,5.106093,4.100418,3.790066,5.191150,2.505389
16,21,Netherlands,NL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,25.259869,27.764110,34.741938,39.494518,43.655526,40.533996,36.542032,32.509869,54.143784,8.201289
17,24,Portugal,PT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.755305,17.767254,17.330891,19.114501,19.717600,16.518720,17.537274,12.179566,20.108511,3.904655
18,27,Slovenia,SI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,4.082433,6.438189,9.965307,12.610498,11.902372,8.117389,5.098507,12.119233,14.844028,5.530317

In [10]:
#df_new = arr
df_new = prod[['mean']].copy()
df_new
df_new['positive-cases_rate'] = cov[['mean']]
corr = df_new.corr()
print(corr)

                         mean  positive-cases_rate
mean                 1.000000             0.210736
positive-cases_rate  0.210736             1.000000