In [76]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


GDP_df = pd.read_excel('./data/GDP_per_quarter_2.xlsx', sheet_name='Sheet 1')
HW_df = pd.read_excel('./data/hours_worked.xlsx', sheet_name='Sheet 1')
employees_df = pd.read_excel('./data/Employees.xlsx', sheet_name='Sheet 1')
print(GDP_df.index, HW_df.index, employees_df.index)
GDP_df = GDP_df.loc[:, ~GDP_df.columns.str.contains('^Unnamed')]
HW_df = HW_df.loc[:, ~HW_df.columns.str.contains('^Unnamed')]
employees_df = employees_df.loc[:, ~employees_df.columns.str.contains('^Unnamed')]
GDP_df.replace(':', np.nan, inplace=True)
HW_df.replace(':', np.nan, inplace=True)
employees_df.replace(':', np.nan, inplace=True)
GDP_df.interpolate(method='linear', inplace=True)
HW_df.interpolate(method='linear', inplace=True)
employees_df.interpolate(method='linear', inplace=True)

def create_per_employeer(GDP_df, HW_df, employees_df):
    ''' This is a function to create a dataframe with the per-employee GDP and per hour worked '''
    cols =(list(set(GDP_df.columns) and set(employees_df.columns) and set(HW_df.columns)))
    cols.sort()
    idx = cols.pop()
    per_employee_df = pd.DataFrame(index=GDP_df.index, columns=cols)
    for i in cols:
        GDP_df[i] = GDP_df[i].apply(pd.to_numeric, errors="coerce")
        employees_df[i] = employees_df[i].apply(pd.to_numeric, errors="coerce")
        HW_df[i] = HW_df[i].apply(pd.to_numeric, errors="coerce")
        per_employee_df[i] = GDP_df[i]/employees_df[i]
        per_HW = per_employee_df[i]/HW_df[i]
    per_employee_df.index = GDP_df[idx]
    per_HW.index = GDP_df[idx]
    return per_employee_df, per_HW

per_employee_df, per_HW = create_per_employeer(GDP_df, HW_df, employees_df)

RangeIndex(start=0, stop=38, step=1) RangeIndex(start=0, stop=35, step=1) RangeIndex(start=0, stop=36, step=1)

In [77]:
per_HW

TIME
Belgium                                                              0.903501
Bulgaria                                                             0.183317
Czechia                                                              0.375531
Denmark                                                              0.994855
Germany (until 1990 former territory of the FRG)                     0.721262
Estonia                                                              0.414285
Ireland                                                              0.473077
Greece                                                               0.112122
Spain                                                                0.519536
France                                                               0.731965
Croatia                                                              0.018665
Italy                                                                0.731988
Cyprus                                                               0.403810
Latvia                                                               0.320606
Lithuania                                                            0.323999
Luxembourg                                                           0.202297
Hungary                                                              0.273715
Malta                                                                0.426730
Netherlands                                                          0.934379
Austria                                                              0.287063
Poland                                                               0.306165
Portugal                                                             0.347810
Romania                                                              0.747632
Slovenia                                                             0.425727
Slovakia                                                             0.295794
Finland                                                              0.897551
Sweden                                                               0.861168
Iceland                                                              0.934701
Norway                                                               1.422767
Switzerland                                                          2.044658
United Kingdom                                                       1.009632
Montenegro                                                           0.014215
North Macedonia                                                      0.035669
Serbia                                                               0.155720
Turkey                                                               1.887537
Albania                                                                   NaN
Bosnia and Herzegovina                                                    NaN
Kosovo (under United Nations Security Council Resolution 1244/99)         NaN
Name: 2021-Q4, dtype: float64

In [78]:

per_employee_df.reset_index(inplace=True)
per_employee_df

,TIME,2008-Q1,2008-Q2,2008-Q3,2008-Q4,2009-Q1,2009-Q2,2009-Q3,2009-Q4,2010-Q1,...,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
0,Belgium,22.560757,23.873680,22.491755,23.550260,22.360721,22.862207,22.508576,24.419903,22.760715,...,27.952909,30.597291,28.022432,26.008691,27.708231,30.384407,29.304520,30.463900,29.654032,32.797095
1,Bulgaria,2.669705,3.068520,3.510293,3.509900,2.773878,3.265822,3.554014,3.713150,2.888632,...,5.689253,6.077220,4.884264,5.341706,6.085626,6.383555,5.217496,5.987118,6.829871,7.387679
2,Czechia,8.914995,9.921593,10.427240,9.790631,8.334568,9.144258,9.605971,9.819170,9.050971,...,13.357356,13.746098,12.450640,11.763819,12.952916,13.390329,12.561665,14.132169,14.303338,14.758361
3,Denmark,23.352974,24.174315,24.111718,24.406873,23.162066,23.539758,23.785051,25.332092,24.460992,...,29.873202,31.011000,30.193802,29.834972,30.970074,32.141322,31.078993,32.465440,32.320438,34.123543
4,Germany (until 1990 former territory of the FRG),18.930790,19.091448,18.794552,18.690965,17.799558,17.784520,18.453160,18.579709,18.755646,...,23.326132,23.477178,551.832360,507.064950,554.953666,569.135284,23.361990,23.589302,24.510983,25.027807
5,Estonia,6.747880,7.538948,7.210105,7.013278,6.380381,6.795442,6.611883,7.125941,6.808112,...,12.533702,12.890639,11.387154,11.943073,12.585698,13.172993,12.172828,13.722078,14.346965,15.535682
6,Ireland,26.310162,25.666649,25.612371,25.624332,25.678115,25.948846,25.778749,25.473668,26.304957,...,47.577504,46.818610,47.308321,45.390123,52.294520,48.852711,53.291592,50.867614,55.131934,17.740377
7,Greece,19.000034,20.154882,20.978582,20.996393,18.307956,20.325537,20.651731,21.633656,19.178486,...,18.362384,17.397246,15.630405,14.654005,16.682628,16.231129,16.549761,16.785722,18.250849,4.204564
8,Spain,15.807677,16.790067,16.006881,17.463114,16.201118,17.155542,16.493534,17.778941,16.704689,...,18.316183,19.365798,17.596664,16.291273,17.654726,18.580803,17.520152,18.331867,17.735874,19.482595
9,France,21.562387,21.791431,20.979927,21.850713,21.067751,21.101674,20.649842,22.141235,21.589493,...,25.455131,26.440734,24.657022,22.663525,24.956282,26.081403,25.431133,25.650639,25.587892,27.009519
10,Croatia,8.012381,8.815869,9.277466,8.439915,7.446713,8.328873,8.746550,8.236797,7.823569,...,10.608619,9.313402,8.629288,8.087074,9.322415,8.912730,8.750018,9.738087,11.281049,0.691545
11,Italy,23.421014,24.211368,23.186101,24.746970,22.198488,23.092611,22.872399,24.841718,22.673736,...,24.919549,26.742092,22.955489,21.405166,24.399649,25.964940,24.606744,25.337939,25.329643,27.229936
12,Cyprus,15.014955,15.831527,16.270584,15.538111,14.993643,15.424910,15.437214,15.471997,14.951472,...,16.838364,16.193476,15.584305,14.033604,16.002558,15.334078,15.086361,15.675756,15.888773,15.708193
13,Latvia,6.364840,6.802472,6.975372,6.845199,5.713383,6.326050,6.135726,6.150566,5.690050,...,10.463080,10.436933,9.041940,9.477335,10.339068,10.769460,9.729531,11.506352,12.286487,12.375394
14,Lithuania,5.808195,6.830566,7.013413,6.781948,5.523657,6.219196,5.961515,5.942093,5.874474,...,11.113658,10.944270,9.620063,10.282719,11.868745,11.393292,10.366151,11.759892,12.787005,12.668349
15,Luxembourg,52.592397,52.469556,51.472574,55.274713,49.089444,48.399399,47.792292,52.245852,50.404372,...,59.271963,64.840137,58.749424,57.974221,61.145873,66.598513,63.121007,64.346599,65.893091,7.930053
16,Hungary,7.329492,8.242130,8.438947,8.241090,6.330182,7.034258,7.487121,8.283344,7.066055,...,9.344303,10.035713,8.338744,8.104910,8.935729,9.835246,8.076725,9.677031,9.873125,10.756999
17,Malta,10.683704,11.273260,11.873290,11.681245,10.896577,11.332602,11.945047,11.685987,11.829412,...,17.295861,16.545789,15.270172,14.193246,15.474275,15.598513,15.602388,16.036970,17.032691,16.514436
18,Netherlands,22.670579,23.057086,22.154934,23.107663,22.014915,22.171189,21.454494,22.815767,22.438059,...,27.115865,28.377691,27.455379,26.570395,27.367841,28.541847,26.733658,28.490660,27.934308,29.152632
19,Austria,20.687781,21.628591,21.217645,21.898095,20.293193,20.904611,20.888146,22.106489,20.476532,...,25.792943,27.203558,25.357744,24.013843,25.440437,26.405831,24.976529,26.958439,27.039260,10.248132
20,Poland,7.119800,7.651121,7.747392,7.703087,5.931664,6.121599,6.538736,7.477339,7.175140,...,10.114533,11.514091,10.044975,9.258005,10.227906,11.271747,9.999938,10.389880,10.737687,12.307836
21,Portugal,11.267709,11.683321,11.693449,12.018934,10.966892,11.715407,11.873234,12.362970,11.558406,...,13.453020,13.767886,12.743337,11.791308,13.088547,13.192107,12.528047,13.131610,13.538063,13.842853
22,Romania,4.399984,5.451164,6.542018,6.791146,3.807140,4.765370,5.396130,6.235729,4.390580,...,9.266146,10.210660,7.018489,7.297694,9.107978,10.387737,7.184184,8.591887,9.867154,29.568863
23,Slovenia,10.395276,11.657079,11.207136,11.162398,10.264930,11.400738,11.282955,11.313887,10.364949,...,14.798817,14.637192,13.287086,13.248643,14.411827,14.259642,14.636934,15.702869,15.684748,16.731073
24,Slovakia,7.193307,7.988634,8.416817,8.118559,7.426520,7.946862,8.453018,8.427001,8.314720,...,11.369179,11.139616,10.115302,10.264013,11.558952,11.417461,10.327448,11.316304,11.792098,11.683850
25,Finland,21.551820,22.103757,21.695812,23.180999,20.820281,21.243420,21.047427,23.069153,21.363237,...,26.809267,28.914940,27.085462,26.812793,27.067125,29.418447,27.848168,28.912486,28.942959,31.504026
26,Sweden,22.029939,23.117946,21.115364,21.130496,18.696895,19.919988,19.343954,21.477312,21.923849,...,24.951715,27.625247,26.382384,25.857682,25.866595,29.084689,28.958590,30.128648,28.149126,32.466029
27,Iceland,24.234771,21.510862,21.356291,11.312331,17.726037,16.486700,16.512212,16.434379,16.669337,...,34.203320,34.642730,29.228538,27.478155,27.103286,31.277209,30.149072,32.493538,33.694543,35.051282
28,Norway,34.963586,36.200911,35.262028,33.082009,29.684758,29.526039,30.552029,33.993790,35.185686,...,34.739520,37.542441,34.455227,29.199601,31.333604,34.347341,36.169874,36.895660,38.373574,48.374080
29,Switzerland,6.884095,27.408082,7.063849,7.494373,7.298578,27.840991,7.499795,7.774525,30.186816,...,41.915824,42.535230,41.588114,40.740341,42.282915,42.469272,41.661814,43.846839,44.851171,73.198762
30,United Kingdom,21.348508,19.829847,19.746820,18.821230,17.259493,17.628672,18.147986,17.708004,18.545535,...,22.867786,24.560755,23.894677,19.717641,21.503751,41.136639,23.638522,24.821269,25.331013,37.962175
31,Montenegro,0.043031,0.060798,0.078652,0.060661,0.045453,0.056125,0.078608,0.059147,0.050782,...,8.366362,6.739645,4.913673,5.308780,7.451692,7.343909,0.292674,0.377599,0.519244,0.560090
32,North Macedonia,3.459981,3.864782,3.878315,4.279287,3.419194,3.652941,3.743523,4.130329,3.615887,...,4.651922,4.616620,3.922668,3.587123,4.270073,4.606891,1.020713,1.091037,1.125551,1.469572
33,Serbia,1.222313,1.305651,1.420419,1.408813,1.187543,1.208143,1.248133,1.278408,1.074656,...,5.658297,5.972544,5.350074,5.274004,5.672873,6.005422,5.507473,6.096076,6.217053,6.695940
34,Turkey,9.859716,9.665222,11.285840,10.008036,8.278575,8.852665,9.809836,9.506774,8.989307,...,9.571232,9.683472,8.520969,7.706563,8.848881,8.509009,74.014425,73.198746,85.767424,81.164106
35,Albania,0.155661,0.172840,0.171615,0.181953,0.167616,0.183502,0.169189,0.159988,0.151619,...,0.184393,0.178708,0.164359,0.174821,0.177555,0.185775,1.548517,1.845315,1.693588,54.428649
36,Bosnia and Herzegovina,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,Kosovo (under United Nations Security Council ...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [79]:
unem = pd.read_csv('./data/unem.csv')
unem.fillna(0)
clean = unem[['LOCATION', 'TIME', 'Value']]
df = clean.pivot_table('Value',  ['LOCATION'],'TIME')
df = df.rename({'AUT': 'Austria'})
df = df.rename({'BEL': 'Belgium'})
df = df.rename({'DEU': 'Germany'})
df = df.rename({'ESP': 'Spain'})
df = df.rename({'EST': 'Estonia'})
df = df.rename({'FIN': 'Finland'})
df = df.rename({'FRA': 'France'})
df = df.rename({'GRC': 'Greece'})
df = df.rename({'IRL': 'Ireland'})
df = df.rename({'ITA': 'Italy'})
df = df.rename({'LTU': 'Lithuania'})
df = df.rename({'LUX': 'Luxembourg'})
df = df.rename({'LVA': 'Latvia'})
df = df.rename({'PRT': 'Portugal'})
df = df.rename({'NLD': 'Netherlands'})
df = df.rename({'SVK': 'Slovakia'})
df = df.rename({'SVN': 'Slovenia'})

df.reset_index(inplace=True)

In [80]:
df = df.reindex([1,2,4,8,7,3,6,9,12,10,11,13,0,15,17,16,5])
df.reset_index(inplace=True)
df

TIME,index,LOCATION,2000-Q1,2000-Q2,2000-Q3,2000-Q4,2001-Q1,2001-Q2,2001-Q3,2001-Q4,...,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
0,1,Belgium,7.100000,6.800000,6.900000,6.633333,6.066667,6.500000,6.300000,7.400000,...,5.233333,5.300000,5.133333,5.400000,6.400000,6.000000,6.633333,6.366667,6.233333,5.900000
1,2,Germany,8.133333,8.000000,7.900000,7.766667,7.666667,7.666667,7.833333,8.033334,...,3.100000,3.200000,3.500000,3.800000,4.066667,4.066667,3.900000,3.600000,3.366667,3.200000
2,4,Estonia,14.366670,14.133330,14.133330,14.266670,14.100000,13.566670,12.800000,11.666670,...,4.233333,4.333333,5.233333,7.000000,7.633333,7.566667,6.966667,6.633333,5.900000,5.400000
3,8,Ireland,4.800000,4.600000,4.266667,3.900000,3.966667,4.000000,4.366667,4.366667,...,5.000000,4.800000,4.900000,5.100000,7.066667,6.300000,7.400000,6.900000,5.466667,5.233333
4,7,Greece,11.566670,11.466670,11.233330,10.633330,10.500000,10.700000,10.633330,10.866670,...,16.966670,16.633330,15.966670,16.833330,16.866670,16.066670,16.366670,16.033330,13.666670,13.300000
5,3,Spain,12.466670,11.933330,11.800000,11.466670,10.666670,10.500000,10.533330,10.600000,...,14.066670,13.866670,14.133330,15.433330,16.366670,16.266670,15.633330,15.366670,14.700000,13.433330
6,6,France,10.233330,9.700000,9.266666,8.900000,8.700000,8.733334,8.800000,8.800000,...,8.200000,8.133333,7.833333,7.300000,8.866667,8.033334,8.033334,8.166667,7.866667,7.333333
7,9,Italy,10.566670,10.266670,9.966666,9.600000,9.366667,9.133333,9.033334,8.866667,...,9.600000,9.666667,9.000000,8.600000,10.000000,9.766666,10.133330,9.800000,9.100000,9.133333
8,12,Latvia,14.333330,14.366670,14.366670,14.433330,13.800000,13.100000,13.133330,13.933330,...,6.200000,6.066667,7.266667,8.466666,8.600000,8.033334,7.700000,7.766667,7.433333,7.300000
9,10,Lithuania,15.633330,16.500000,16.966670,16.600000,17.733330,17.533330,16.800000,17.500000,...,6.333333,6.600000,7.400000,8.600000,9.266666,8.866667,7.600000,7.500000,6.733333,6.700000
10,11,Luxembourg,2.300000,2.300000,2.233333,2.033333,1.866667,1.866667,1.900000,2.000000,...,5.633333,5.566667,5.966667,7.566667,6.766667,6.266667,6.200000,5.866667,5.266667,4.966667
11,13,Netherlands,3.866667,3.733333,3.566667,3.366667,3.200000,3.100000,3.100000,3.133333,...,4.466667,4.433333,4.066667,4.833333,5.466667,5.066667,4.666667,4.366667,4.133333,3.800000
12,0,Austria,4.233333,3.700000,3.833333,3.766667,3.633333,4.000000,4.100000,4.300000,...,4.833333,4.633333,4.633333,6.933333,6.533333,6.300000,7.066667,6.700000,5.633333,5.266667
13,15,Portugal,5.433333,5.233333,5.300000,5.066667,5.266667,5.400000,5.433333,5.400000,...,6.600000,6.733333,6.600000,6.633333,8.100000,7.233333,6.833333,6.933333,6.433333,6.166667
14,17,Slovenia,6.800000,7.166667,6.800000,6.233333,6.066667,5.933333,6.066667,6.700000,...,4.833333,4.100000,4.266667,5.400000,5.166667,5.200000,5.266667,4.600000,4.500000,4.566667
15,16,Slovakia,18.500000,19.166670,18.966670,18.966670,19.366670,19.533330,19.466670,19.466670,...,5.666667,5.700000,5.966667,6.600000,7.000000,7.033333,7.133333,7.000000,6.600000,6.400000
16,5,Finland,10.166670,9.800000,9.600000,9.400000,9.266666,9.100000,9.066667,9.100000,...,6.766667,6.800000,6.700000,7.766667,8.433333,8.133333,7.966667,8.133333,7.500000,6.900000

In [81]:
Per_emp = per_employee_df.drop(labels = [1,2,3,10,12,16,17,20,22,26,27,28,29,30,31,32,33,34,35,36,37], axis = 0)

In [82]:
Per_emp.reset_index(inplace=True)

In [83]:
Per_emp

,index,TIME,2008-Q1,2008-Q2,2008-Q3,2008-Q4,2009-Q1,2009-Q2,2009-Q3,2009-Q4,...,2019-Q3,2019-Q4,2020-Q1,2020-Q2,2020-Q3,2020-Q4,2021-Q1,2021-Q2,2021-Q3,2021-Q4
0,0,Belgium,22.560757,23.873680,22.491755,23.550260,22.360721,22.862207,22.508576,24.419903,...,27.952909,30.597291,28.022432,26.008691,27.708231,30.384407,29.304520,30.463900,29.654032,32.797095
1,4,Germany (until 1990 former territory of the FRG),18.930790,19.091448,18.794552,18.690965,17.799558,17.784520,18.453160,18.579709,...,23.326132,23.477178,551.832360,507.064950,554.953666,569.135284,23.361990,23.589302,24.510983,25.027807
2,5,Estonia,6.747880,7.538948,7.210105,7.013278,6.380381,6.795442,6.611883,7.125941,...,12.533702,12.890639,11.387154,11.943073,12.585698,13.172993,12.172828,13.722078,14.346965,15.535682
3,6,Ireland,26.310162,25.666649,25.612371,25.624332,25.678115,25.948846,25.778749,25.473668,...,47.577504,46.818610,47.308321,45.390123,52.294520,48.852711,53.291592,50.867614,55.131934,17.740377
4,7,Greece,19.000034,20.154882,20.978582,20.996393,18.307956,20.325537,20.651731,21.633656,...,18.362384,17.397246,15.630405,14.654005,16.682628,16.231129,16.549761,16.785722,18.250849,4.204564
5,8,Spain,15.807677,16.790067,16.006881,17.463114,16.201118,17.155542,16.493534,17.778941,...,18.316183,19.365798,17.596664,16.291273,17.654726,18.580803,17.520152,18.331867,17.735874,19.482595
6,9,France,21.562387,21.791431,20.979927,21.850713,21.067751,21.101674,20.649842,22.141235,...,25.455131,26.440734,24.657022,22.663525,24.956282,26.081403,25.431133,25.650639,25.587892,27.009519
7,11,Italy,23.421014,24.211368,23.186101,24.746970,22.198488,23.092611,22.872399,24.841718,...,24.919549,26.742092,22.955489,21.405166,24.399649,25.964940,24.606744,25.337939,25.329643,27.229936
8,13,Latvia,6.364840,6.802472,6.975372,6.845199,5.713383,6.326050,6.135726,6.150566,...,10.463080,10.436933,9.041940,9.477335,10.339068,10.769460,9.729531,11.506352,12.286487,12.375394
9,14,Lithuania,5.808195,6.830566,7.013413,6.781948,5.523657,6.219196,5.961515,5.942093,...,11.113658,10.944270,9.620063,10.282719,11.868745,11.393292,10.366151,11.759892,12.787005,12.668349
10,15,Luxembourg,52.592397,52.469556,51.472574,55.274713,49.089444,48.399399,47.792292,52.245852,...,59.271963,64.840137,58.749424,57.974221,61.145873,66.598513,63.121007,64.346599,65.893091,7.930053
11,18,Netherlands,22.670579,23.057086,22.154934,23.107663,22.014915,22.171189,21.454494,22.815767,...,27.115865,28.377691,27.455379,26.570395,27.367841,28.541847,26.733658,28.490660,27.934308,29.152632
12,19,Austria,20.687781,21.628591,21.217645,21.898095,20.293193,20.904611,20.888146,22.106489,...,25.792943,27.203558,25.357744,24.013843,25.440437,26.405831,24.976529,26.958439,27.039260,10.248132
13,21,Portugal,11.267709,11.683321,11.693449,12.018934,10.966892,11.715407,11.873234,12.362970,...,13.453020,13.767886,12.743337,11.791308,13.088547,13.192107,12.528047,13.131610,13.538063,13.842853
14,23,Slovenia,10.395276,11.657079,11.207136,11.162398,10.264930,11.400738,11.282955,11.313887,...,14.798817,14.637192,13.287086,13.248643,14.411827,14.259642,14.636934,15.702869,15.684748,16.731073
15,24,Slovakia,7.193307,7.988634,8.416817,8.118559,7.426520,7.946862,8.453018,8.427001,...,11.369179,11.139616,10.115302,10.264013,11.558952,11.417461,10.327448,11.316304,11.792098,11.683850
16,25,Finland,21.551820,22.103757,21.695812,23.180999,20.820281,21.243420,21.047427,23.069153,...,26.809267,28.914940,27.085462,26.812793,27.067125,29.418447,27.848168,28.912486,28.942959,31.504026

In [84]:
df['mean'] = df.iloc[:,33:89].mean(axis=1, skipna = True)
Per_emp['mean'] = Per_emp.iloc[:,2:58].mean(axis=1, skipna = True)

In [85]:

df_new = Per_emp[['mean']].copy()
df_new['unemployment rate'] = df[['mean']].copy()
df_new
corr = df_new.corr()
print(corr)

                      mean  unemployment rate
mean               1.00000           -0.42778
unemployment rate -0.42778            1.00000